body {
	margin:0;
	padding:0;
	font-size:100%;
	font-family:none;
}

.chunk {
	margin-top:0;
	margin-bottom:0;
	padding:0;
	overflow:auto;
	padding-bottom:6em
}

.chunk a:hover {
	text-decoration:none;
	cursor:auto;
}


	a {
		text-decoration:none !important;
	}

	a:visited {
		color:none;
		text-decoration:none !important;
	}

	a:hover {
		cursor:hand;
	}

	a:active {
		text-decoration:none;
	}

	h1 {
		font-family: "futura-pt", sans-serif !important;
		font-weight:700 !important;
		text-align:center;
		letter-spacing:0.1em;
		padding-top:2em;

	}

	h2 {
		font-family: "lato",sans-serif;
		font-style:italic;
		font-weight:100;
		text-align:center;
		font-size:2em;
	}

	h3 {
		font-family: "futura-pt", sans-serif !important;
		font-weight:400;
	}

	h4 {
		font-family: "lato",sans-serif;
		font-style:italic;
	}

	.white {
		color:white !important;
		
	}

	.blue {
		color:#335063;
	}

	.pink {
		color:#d84861;
	}

	#home {
		background-color:#547980;
	}

	#toplogo {
		padding-left:5.25%;
		padding-top:5%;
		float:left;
		margin:0;
		size:100%;
	}

	#navigation {
		list-style:none;
		float:right;
		margin:0;
		font-color:white;
		font-family: "lato",sans-serif;
		font-weight:100;
		font-size:1.3em;
		padding-top:5%;
		padding-left:0;

	}

	.navigationbar {
		float:left;
		display:inline;
		color:white;
		margin-right:0.2em;
		margin-left:0.2em;
		padding-right:0.5em;
		padding-left:0.5em;
		padding-top:0.3em;
		padding-bottom:0.3em;
	}

  

	.navigationbar:hover {
		background:#315265;
		cursor:pointer;
	
	}

	#ONO {
		margin:0 auto;
		display:block;
		text-align:center;
		padding-top:2em;
	}

	#ONOimg {
		margin:0 auto;
		position:relative;

	}

	#introhead {
		text-align:center;
		width:65%;
		margin:0 auto;
		color:white;
		font-family: "lato",sans-serif;
		font-style:italic;
		font-weight:100;
		font-size:2.5em;
		padding-top:1em;

	}

	#workbuttoncont {
		width:100%;
		position:relative;
		margin:0 auto;
		padding-top:1em;
		padding-bottom:8em;
	}

	#workbutton {
		width:12em;
		height:2.5em;
		margin:0 auto;
		display:block;
		border: 0.1em #ffffff solid;
		font-family: "lato",sans-serif;
		font-size:1.8em;
		color:#ffffff;
		font-weight:200;
		font-size:1.6em;
		text-align: center;
		vertical-align: middle;
		letter-spacing:0.05em;
		padding-top:0.4em;
		box-shadow:0.2em 0.2em 0.1em 0.1em #325163;

		}

	#workbutton:hover {
		text-decoration:none;
		cursor:pointer;
		background-color:white;
		color:#547980;
		cursor:pointer;

	}


	#services {
		background-color:#325163;
	}

	.subline {
		text-align:center;
		font-family: "lato",sans-serif;
		font-style:italic;
		width:75%;
		margin:0 auto;
		margin-top:0em;
		margin-bottom:2em;
		font-weight:200;
		font-size:1.8em;
		letter-spacing:1.1px;
	}

	.whiteline {
		width:15em;
		height:0.2em;
		margin:0 auto;
		margin-top:2em;
		margin-bottom:2em;
		background-color:white;

	}

	
	#serviceswrapper {
		padding-top:3em;
	}

	#servicesinclude {
		padding-top:3em;
		color:white;
	}

	.servicesincluded {
		text-align:center;
		margin-bottom:2em;

	}

	.servicesincludeblank {
		font-family: "lato",sans-serif;
		font-weight:100;
		font-size:1.1em;
		width:70%;
		margin:0 auto;
		letter-spacing:0.1em;
		text-align:center;
		padding-top:1em;
	}

	#team {
		background-color:#efefef;
	}

	.blueline {
		width:15em;
		height:0.2em;
		margin:0 auto;
		margin-top:2em;
		margin-bottom:2em;
		background-color:#335063;

	}

	#teammembers {
		margin:auto;
		width:100%;
	}

	.teammates {
		font-family: "lato",sans-serif;
		font-weight:100;
		letter-spacing:0.1em;
		text-align:center;
		margin:auto 0;
		margin-bottom:2em;
	
	}

	.bio {
		width:80%;
		text-align:center;
		margin:0 auto;
		margin-top:1em;
		margin-bottom:1em;
		font-size:1em;

	}

	.socialicon:hover {
		cursor:pointer;
	}


	#skillset {
		margin:0 auto;
		margin-bottom:8em;
		width:100%;
	}

	.skill {
		display:inline;
		font-weight:100;
		font-size:0.9em;
		letter-spacing:0.1em;
		text-align:center;
		margin-bottom:2em;

	}

	.percent {
		margin-top:-5em;
		font-weight:500 !important;
}

	.listskill {
		margin-top:6em !important;
		margin-bottom:2em !important;
		font-weight:800 !important;
		font-size:1.6em !important;
		text-align:center;
		margin:0 auto;
	}

	#work {
		background-color:#547980;
	}

	.listofprojects {
		margin-top:0;
		text-align:center;
		margin-bottom:2em;
	}

/*
	.projects {
		margin:0 auto;
		text-align:center;
	} */

	.projectname {

		border: 0.1em #ffffff solid;
		font-family: "futura-pt", sans-serif;
		font-weight:100 !important;
		font-size:1.4em;
		margin-left:0.6em;
		margin-right:0.6em;
		padding-left:0.7em;
		padding-right:0.7em;
		padding-top:0.5em;
		padding-bottom:0.5em;
		text-align:center;
		float:left;
		display:inline;
	}

	.projectname:hover{
		background-color:white !important;
		color:#547980 !important;
	}


	.computercont {
		margin-top:3em;
		margin-bottom:2em;
		margin:0 auto;
	}

	.computers {
		margin-top:2em;
	}

	.projectpic {
		margin-bottom:4em;
		text-align:center;
	}

	.picname {
		font-family: "futura-pt", sans-serif;
		font-size:1.4em;
		font-weight:300;
		text-align:center;
	}

	#loadbuttoncont {
		width:100%;
		position:relative;
		margin:0 auto;
		padding-top:2em;
	}

	#loadbutton {
		width:12em;
		height:2.5em;
		margin:0 auto;
		display:block;
		border: 0.1em #ffffff solid;
		font-family: "lato",sans-serif;
		font-size:1.8em;
		color:#ffffff;
		font-weight:200;
		font-size:1.6em;
		text-align: center;
		vertical-align: middle;
		letter-spacing:0.05em;
		padding-top:0.4em;
		box-shadow:0.2em 0.2em 0.1em 0.1em #325163;

		}

	#loadbutton:hover {
		text-decoration:none;
		background-color:white;
		color:#547980;
		cursor:pointer;
	}

	#contact {
		background-color:#335063;
	}


	.formfill {
        margin-bottom:2em;
	}

	#nameform input[type="text"] {
        height:3em;
        background:#1c3949;
        border:none;
        width:100%;
        outline:none;
    }

    #emailform input[type="text"] {
        height:3em;
        background:#1c3949;
        border:none;
        width:100%;
        outline:none;
    }

   input[placeholder] {
        font-color:white;
        font-size:1em;
        font-weight:100;
        padding-left:1em;
        font-family: "lato",sans-serif;

    }

    input #yourname {
		font-family: "lato",sans-serif;
	}

    ::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	   color:    #fff;
	   opacity:  1;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
	   color:    #fff;
	   opacity:  1;
	}
	:-ms-input-placeholder { /* Internet Explorer 10+ */
	   color:    #fff;
	}

    #messageinfo textarea {
        height:14em;
        width:100%;
        background:#1c3949;
        border:none;
        font-family: "lato",sans-serif;
        color:#fff;
        outline:none;
    }

    textarea[placeholder] {
        font-color:white;
        font-size:1em;
        font-weight:100;
        padding-left:1em;
        padding-top:0.8em;
        font-family: "lato",sans-serif;
    }

    ::-webkit-textarea-placeholder { /* WebKit browsers */
    color:    #fff;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	   color:    #fff;
	   opacity:  1;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
	   color:    #fff;
	   opacity:  1;
	}
	:-ms-textarea-placeholder { /* Internet Explorer 10+ */
	   color:    #fff;
	}



	#messagebutton {
		width:6em;
		height:3em;
		float:right;
		display:block;
		border: 0.2em #ffffff solid;
		font-family: "lato",sans-serif;
		font-size:1em;
		color:#ffffff;
		font-weight:400;
		text-align:center;
		padding-top:0.6em;
		letter-spacing:0.1em;
		position:relative;
	}

	#messagebutton:hover {
		cursor:pointer;
		background-color:white;
		color:#335063;
	}

	#contactinfo {
		margin-top:-1em;
	}

	#address p {
		font-family: "lato",sans-serif;
		font-weight:100;
		font-size:1.3em;
		color:white !important;
	}

	.intouch {
		display:inline;
	}

	#envelope:hover {
		cursor:pointer;
	}

	#footer {
		background-color:white;
		margin-top:0;
		margin-bottom:0;
		padding:0;
		overflow:auto;
		padding-top:1em;
		margin-bottom:-4em;
}
	}

	#footnav {
		margin-top:1em;
	}



	#socialtagleft {
		margin-right:1em;
	}

	#socialtagmid {
		margin-left:1em;
		margin-right:1em;
	}

	#socialtagright {
		margin-left:1em;
	}

	#signature {
		font-family: "lato",sans-serif;
		font-weight:100;
		font-size:1em;
		color:#325163 !important;
		margin-top:1em;
	}

	#portfoliosite a:visited {
		text-decoration:none !important;
	}

